<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitforfit">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitforFit">
        <activity
            android:name=".ui.main.ScanErrorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.AddNewIngredientScanProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.ShowProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.AddNewIngredientSearchProduct"
            android:exported="false" />
        <activity
            android:name=".ui.main.IngredientActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.AddNewIngredientManuellProduct"
            android:exported="false" />
        <activity
            android:name=".ui.main.AddIngredientToMealActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MealActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.AddNewMealActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.TrackerDayActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FitforFit.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.main.CreateNewWorkoutActivity"
            android:exported="false">
        </activity>
        <activity android:name=".ui.main.WorkoutDetailActivity"
            android:exported="false"/>
        <activity android:name=".ui.main.AddExerciseToWorkoutActivity"
            android:exported="false"/>
        <activity android:name=".ui.main.CreateNewExerciseActivity"
            android:exported="false" />
    </application>

</manifest>